<div class="container">
  <!-- Navbar -->
  <app-nav-bar></app-nav-bar>

  <!-- content -->
  <div class="content">
    
    <table class="table table-hover cart-table">
      <tr>
        <th>品名</th>
        <th>單價</th>
        <th>數量</th>
        <th>小計</th>
      </tr>
      <tr>
        <td>泡菜牛肉鍋</td>
        <td>120</td>
        <td>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary" type="button">-</button>
            </div>
            <input type="text" class="form-control text-center" placeholder="" aria-label="" aria-describedby="basic-addon1" value="1">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">+</button>
            </div>
          </div>
        </td>
        <td>120</td>
      </tr>
      <tr>
        <td>總計:</td>
        <td colspan="3" class="text-right">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">NT$</span>
            </div>
            <input type="text" class="form-control text-right" aria-label="Amount (to the nearest dollar)" value="120" readonly>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="4" class="text-right">
          <input type="submit" class="btn btn-outline-warning" value="送出">
        </td>
      </tr>
    </table>
  </div>
  <!-- footer -->

</div>